@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.container .header {
  font-family: "DM Sans", sans-serif;
}

.container .header .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0;
}

.container .header .navbar-menu .logotip p {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #222222;
}

.container .header .navbar-menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}

.container .header .navbar-menu ul li {
  list-style-type: none;
  padding-bottom: 3px;
  cursor: pointer;
}

.container .header .navbar-menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  line-height: 155%;
}

.container .header .navbar-menu ul li:hover a {
  color: #086CF9;
}

.container .header .navbar-menu button {
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  background-color: #086CF9;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.container .header .navbar-menu button a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1em;
}

.container .header .navbar-menu button:hover {
  border: 1px solid #086CF9;
  background: #fff;
}

.container .header .navbar-menu button:hover a {
  color: #086CF9;
}

.container .hero-section {
  position: relative;
  margin-bottom: 619px;
}

.container .hero-section #myVideo {
  position: absolute;
  height: 849px;
  text-align: center;
}

.container .hero-section .content {
  position: relative;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 259px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .hero-section .content h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 73px;
  margin: 24px;
}

.container .hero-section .content p {
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  margin-bottom: 54px;
}

.container .hero-section .content button {
  padding: 16px 30px;
  background-color: #086CF9;
  border: none;
  cursor: pointer;
}

.container .hero-section .content button a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.container .title {
  text-align: center;
  margin-bottom: 48px;
}

.container .title h1 {
  font-weight: bold;
  font-size: 38px;
  line-height: 62px;
}

.container .title p {
  color: #555555;
}

.container .work-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 128px;
}

.container .work-process .video-instructor {
  border-radius: 5px;
}

.container .work-process .service-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3em;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .work-process .service-note div {
  cursor: pointer;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.container .work-process .service-note div h2 {
  margin: 27px 0 16px 0;
}

.container .work-process .service-note div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .gallery {
  margin: 20px 40px;
  text-align: center;
}

.container .gallery img {
  height: 248px;
  width: 368px;
  margin: 2px;
}

.container footer {
  margin-top: 100px;
  text-align: center;
}

.container footer p {
  font-size: 15px;
  line-height: 1.5;
  color: #555555;
  opacity: .5;
}
/*# sourceMappingURL=style.css.map */